services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: fitness_db
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d fitness_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  web:
    build: .
    restart: always
    ports:
      - "5000:5000"
    environment:
      # Veritabanına bağlantı cümlesi
      DATABASE_URL: postgresql://user:password@db:5432/fitness_db
      # Flask'a template klasörünü göster
      FLASK_APP: src/app.py
    depends_on:
      db:
        condition: service_healthy